<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            Formulário de cadastro
          </div>
          <div class="card-subtitle mb-2 text-muted">
            Olá visitante, caso deseje se cadastrar preencha o formulário.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>